<html>

<head>
    <%- include('../../partials/head') %>
</head>

<body>

    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box ">
                    
                <div class="right" style="background-image: url('assets/img/middleware.webp');">
                    <div class="overlay"></div>
                    <div class="content text">
                        <h1 class="heading">Reset Password</h1>
                    </div>
                </div>
                    <div class="left">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center"><img href="/" src="assets/img/logo.webp" style="max-height:70px;"></div>
                                <p class="lead" id="passErr">Forgot Password?</p>
                            </div>
                            <form class="form-auth-small" action="/forgot_otp" method="post">
                                <% if (message.length > 0) { %>
                                <div class="alert alert-danger"><%= message %></div>
                                <% } %>
                                <div class="alert alert-danger" id="passMatch" style="display:none">Passwords Don't match</div>
        
                                    <input type="number" class = "form-control"  type="number" name="mobile" placeholder="Phone Number" required>
                                   
                                    <button type="submit" class = "form-control" class="action-button">Get OTP</button>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Start Scripts-->
    <%- include('../../partials/scripts') %>
    <!--End Scripts-->
</body>

</html>