<html>

<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" type="text/css" href="assets/css/otp.css">
</head>

<body>

    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle">
                <div class="auth-box ">

                    <div class="right" style="background-image: url('assets/img/middleware.webp');">
                        <div class="overlay"></div>
                        <div class="content text">
                            <h1 class="heading">Forgot Password</h1>
                        </div>
                    </div>
                    <div class="left">
                        <div class="content">
                            <div class="header">
                                <div class="logo text-center"><img href="/" src="assets/img/logo.webp" style="max-height:70px;">
                                </div>
                                <p class="lead"> An OTP has been sent to your number +91<%- mobile %>
                                </p>
                                <% if (message.length > 0) { %>
                                <div class="alert alert-danger"><%= message %></div>
                                <% } %>
                            </div>
                            <form method="post" action="/forgot_password"
                                class=" text-center login-form validate-form digit-group" data-group-name="digits"
                                data-autosubmit="false" autocomplete="off">
                                <input type="text" id="d1" name="d1" data-next="d2" />
                                <input type="text" id="d2" name="d2" data-next="d3" data-previous="d1" />
                                <input type="text" id="d3" name="d3" data-next="d4" data-previous="d2" />
                                <span class="splitter">&ndash;</span>
                                <input type="text" id="d4" name="d4" data-next="d5" data-previous="d3" />
                                <input type="text" id="d5" name="d5" data-next="d6" data-previous="d4" />
                                <input type="text" id="d6" name="d6" data-previous="d5" />
                                <br>
                                <br>
                                <button type="submit" class="form-control" class="action-button">Reset Password</button>

                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!--Start Scripts-->
    <%- include('../../partials/scripts') %>
    <script src="assets/js/otp.js"></script>
    <!--End Scripts-->
</body>

</html>