<html>

<head>
    <%- include('../partials/head') %>
</head>

<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login">
            <div class="wrap-login">
                <div class="login-more" style="background-image: url('assets/img/middleware.webp');">
                </div>
                <form method="post" action="/login" class="login-form validate-form">
                    <span class="login-form-title p-b-43">
                        Login to continue
                    </span>

                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                    <% if (successMessage.length > 0) { %>
                    <div class="alert alert-success"><%= successMessage %></div>
                    <% } %>
                    <div class="wrap-inputVal validate-input" data-validate="Valid Phone Number is Required">
                        <input class="inputVal" type="text" name="mobile">
                        <span class="focus-inputVal"></span>
                        <span class="label-inputVal">Phone Number</span>
                    </div>


                    <div class="wrap-inputVal validate-input" data-validate="Password is required">
                        <input class="inputVal" type="password" name="password">
                        <span class="focus-inputVal"></span>
                        <span class="label-inputVal">Password</span>
                    </div>

                    <div class="container-login-form-btn">
                        <button class="login-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32 m-t-10">
                        <div>
                            <a href="/forgot" class="txt5 size1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>

                    <div class="text-center p-t-46 p-b-20">
                        <a href="/signup" class="fs-24">
                            Or Sign up Here!
                        </a>
                    </div>
                </form>


            </div>
        </div>
    </div>

    <!--Start Scripts-->
    <%- include('../partials/scripts') %>
    <!--End Scripts-->
</body>

</html>