<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
<!-- WRAPPER -->
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                <div class="left">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center"><img src="assets/img/logo.webp" href="/"style="max-height:70px;" alt="TAX360"></div>
                            <p class="lead">Login to your account</p>
                        </div>
                        <form class="form-auth-small" action="/login" method="post">
                            <% if (message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                            <% } %>
    
    
                                <input type="number" class="form-control" name="mobile"  required placeholder="Phone Number"/>
                                <input type="password" class = "form-control" name="password" id="password" placeholder="***********">
                                <br>
                                <button type="submit" class = "form-control" id="login" class="action-button">Login</button>
                                <br>
                                <a  style="text-decoration: none" href="/signup">Signup Here</a>
                                &nbsp;|&nbsp;
                                <a href="/forgot" style="text-decoration: none">Forgot Password?</a>
                                <br>
                        </form>
                    </div>
                </div>
                <div class="right" style="background-image: url('assets/img/middleware.webp');">
                    <div class="overlay"></div>
                    <div class="content text">
                        <h1 class="heading">Portal Login</h1>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- END WRAPPER -->
</body>
</html>
